.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    height: 88px;
    width: 100%;
}

.footer span {
    font-size: 18px;
    font-weight: 400;
    color: var(--white);
}

